.mydiv{
            visibility: hidden;
            padding: 10px;
        }
        
        
        #proba{
           padding: 100px;
            
        }
        
        
.showChecked{
            
     width: 300px;
     height: 300px;
     border: 2px solid; 
  
 }
 