
.verticalMiddle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontalMiddle{
    margin: 0 auto;
}    

.widthCollection{
    width : 600px;
}

.floatCenter{
    
    float:right; 
    position : relative;
    top: 50%;
    left : -30%;
    //transform: translateX(50%);
    transform: translateY(-50%);
}

.uploader{
    
    width: 200px;
    text-align: left;
}

.created{
    margin-right: 20px;
    text-align: left;
}

.nameFirst{
    margin-left: 12px;
    margin-bottom: 5px;
}

.name{
    width: 200px;
}

.innerName{
    
    font-size: 18px;
    font-style:italic;
    margin-right: 10px;
}

.border1{
   border: 1px solid;
   //width: 200px;
}

.collectionDivFont{
     font-size: 18px;
}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}

#ok{
    visibility: hidden; 
    border: 1px solid;
    border-radius: 3px;
    float:left;
    padding: 2px;
    margin-left: 5px;
    margin-bottom: 30px;
}

#ok:hover{
    background: gray;
    cursor: pointer;
}


#inp{
    visibility: hidden;
    position: relative;
    float: left;
    padding: 3px;
    margin-left: 5px;
}

#add{
    position:relative;
    float: left;
    padding: 5px;
}

.img{
    height: 20px;
    width: 20px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}

#newColName{
    visibility: hidden;
    float:left;
    padding: 5px;
}


#dataTitle{
   
   text-align: center;
   font-family: museo slab;
   font-size: 23px;
   margin-bottom: 30px;
   
}

.arrow{
    //position: relative;
    width: 16px;
    height: 16px; 
    float:left;
}

.arrowlast{
    //position: relative;
    width: 16px;
    height: 16px; 
}

#left{
   visibility: visible; 
}

#down{
   visibility: hidden; 
}



#filterBar{
    
    border: 1px solid black;
    border-radius: 10px; 
}

#filt{
    padding: 5px;
}


#headerContainer{
    
    position: absolute;
    top: 240px;
    width: 100%;;  
}


#boneContainer{
    position: absolute;
    left: 250px;
    top: 280px;
    width: 800px;    
}

#header{   
    margin-top: 20px;
    padding: 13px 5px;
    border-bottom: 1px solid; 
}

.collectionDiv{
    
    font-size: 17px;
    padding: 5px;
    height: 23px;
    margin: 10px auto;
    background: gray;
    border-radius: 5px;
}
    
.collectionDiv:hover{
    background: #A6A6A6;
    cursor: pointer;
}

ul {
  margin:15px;
  padding: 0;
}

#level {
    padding-left:10px;
}


.testDiv{
    width: 300px;
    height : 200px;
}

.redBack{
    background : red;
}