
#backArrow{
    position: absolute;
    left: 20px;
    top: 210px;
    width: 60px;
    height: 60px;
}

#back2C{
    position: absolute;
    left: 90px;
    top: 235px;
}

#ok{
    visibility: hidden; 
    border: 1px solid;
    border-radius: 3px;
    float:left;
    padding: 2px;
    margin-left: 5px;
}

#ok:hover{
    background: gray;
    cursor: pointer;
}

#inp{
    visibility: hidden;
    position: relative;
    float: left;
    padding: 3px;
    margin-left: 5px;
}

#add{
    position:relative;
    float: left;
    padding: 5px;
}

.img{
    height: 20px;
    width: 20px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}

#newColName{
    visibility: hidden;
    float:left;
    padding: 5px;
}

#collName{
   position: absolute;
   left: 200px;
   top: -30px;
   font-size: 23px;
}

#dataTitle1{
   position: relative;
   left: 250px;
   //top: -20px;
   font-family: museo slab;
   font-size: 23px;
   margin-bottom: 30px;
}

.collectionHeader{
    float:left;
}




#left{
   visibility: visible; 
}

#down{
   visibility: hidden; 
}




#list{
    position:relative;
    left: 300px;
    top: -70px;
   // border: 1px solid red;
}

#filterBar{
    
    border: 1px solid black;
    border-radius: 10px; 
    //height: 150px;
    // paddign: 10px;
}

#headerContainer{
    position: absolute;
    left: 250px;
    top: 280px;
    width: 800px;
    
}


#boneContainer{
   // position: absolute;
   // left: 250px;
    //top: 280px;
    width: 800px;    
}

#header{
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid; 
}



#name{
    width: 200px;
    padding-left: 30px;
}
#uploader{
    width: 250px;
    
}
#created{
    width: 70px;
}

/*#collectionContainer{
    
    position: absolute;
    left: 250px;
    top: 380px;
}*/
.boneDiv{
       // width: 700px;
        padding: 5px;
        height: 23px;
        margin: 10px;
        background: gray;
        border-radius: 5px;
    }
    
.boneDiv:hover{
    background: #A6A6A6;
    cursor: pointer;
}