#random{
    text-align: center;
    position: relative;
    top:-201px;
    width: 100%;
    height: 201px;
    background-image: url(img/completition.png);
    //float: left;
}
   
#login{
    position: absolute;
    left: 400px;
    top: 220px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

#bgrimg{
    position: relative;
    z-index:2;
}

#logged_in{
    visibility: hidden;
    position: relative;
    top: -370px;
    margin-right: 30px;
    float: right;    
    color: white;
}

#img1{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 5px;
}
.names{
    float: left;
    margin-left: 8px;
}

#logout{    
    text-align: right;
    margin-top: 20px; 
}

#menu{
    position: relative;
    //left: 100px;
    top:  -250px;
    margin-left: 10%;
    //margin-right: 20%;
    font-size: 17px;  
    z-index: 3;
}

#del{
    position: absolute;
    left: 100px;
    top: 500px;
}




#log{
    margin :10px;
   float:right;
   
}



#back{
    visibility: hidden;   
}



#tableid{
    float:right;
    color: white;
}

#welcome{
    visibility: hidden;
    position: absolute;
    left: 400px;
    top: 320px;  
    font-size: 30px;
}

.loginfield{
	border: 1px solid black;
	padding: 6px;
	display:inline-block;
	-webkit-border-radius: 6px;
}

#forget{
	float:right;
	margin-right: 30px;
}

#reg {
	cursor: pointer;
}

.nav{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 201px;
}  



.nav .first{
    position: relative;
    display:inline-block;   
    width:754px;
    height: 201px;
    margin: 0px;
    padding: 0px;
}

.nav .complete{
    position: relative;
    left:  -10px;
    //top:0px;
    width:454px;
    height: 201px;
    display:inline-block;
    margin: 0px;
    padding: 0px;
}


#title{
    font-size: 25px;
    color: white;
    position: absolute;
    left: 300px;
    top:  60px;
    font-family: serif;
}

.cell{
    //width: 150px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    //border-left-width:2.5em;
    border-right-style:solid;
    border-right-width: 2.5px;
}

.cell:hover, .lastcell:hover{
    
   color: gray;
   cursor: pointer;
}


#global{
    position: absolute;
    width: 800px;
    height: 1800px;
    left: 100px;
    top: 220px;
    background: #F2F2F2;
}


.lastcell{
    padding-left: 50px;
    padding-right: 50px;
}


.row{
    width: 800px;
}





#collection{
    left: 200px;
    background: green;
}

#ontology{
    
    left: 500px;
    background: greenyellow;
}