#collectionName{
   
   font-size: 23px;
   margin: 10px 0; 
   padding-bottom: 10px;
   display: inline-block; 
   width: 600px;
   border-bottom: 2px solid;
}

#newBoneContainer{
    
    width: inherit;
    margin-top: 50px;
}

.horizontalMiddleOuter{
    width: 100%;
    text-align: center;
}


.innerMiddle{
    margin: 10px auto;
}

.mainBoneClass{
    
   border-bottom: 1px solid; 
   padding: 0 0 5px 5px; 
   margin: 20px 0; 
   text-align: left; 
}

.boneItem{
    border-radius: 2px; 
    background: gray; 
    text-align:left; 
    margin-left: 15px;
    padding: 5px;
}

#backArrow{
    position: absolute;
    left: 20px;
    top: 220px;
    width: 45px;
    height: 45px;
}

#back2C{
    position: absolute;
    left: 70px;
    top: 235px;
}

#inp{
    visibility: hidden;
    position: relative;
    float: left;
    padding: 3px;
    margin-left: 5px;
}

#add{
    position:relative;
    float: left;
    padding: 5px;
}

.img{
    height: 20px;
    width: 20px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}

.verticalMiddle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.boneSVG{
   // display: inline-block;
    width: 700px;
    height: 562px;
    margin: 200px auto 0px auto;
    background: gray;
    border: 2px solid black;
    border-radius: 10px;
}

#SVGContainer{
    margin: 5px;
    float:left;
}

#classStructure{

    border-radius: 5px;
    background: white;
    height: 40px;
    width: 500px;
    border: 2px solid;
}

#skeletonSVG{

    width: 500px;
    height: 500px;
    border-radius: 5px;
    background: white;
    border: 2px solid;
    margin-top: 5px;
}

#menuField{
   
   margin-top: 5px;
   float:left;
}

#listToSave{
  
   margin-top: 5px;
   height: 300px;
   border-radius: 5px;
   background: white;
}

#saveBones{
    margin-top: 5px;
}

#boneName{
   
   margin-top: 0;
   height: 40px;
   border-radius: 5px;
   background: white;
}

#doneSaveBones{
    
    position: relative; 
    top: 100px;
    left: 0;
    right: 0; 
    bottom: 0;
}

.rightMenu{

    width: 175px;
    border: 2px solid black;
}

.rightMenuButtons{

    text-align: center;
    border-radius: 4px;
    color: white;
    //padding: 5px 0;
}

.rightMenuButtons:hover{
    cursor: pointer;
}

#backLevel{
    position: absolute;
}

.floatLeft{
    float:left;
}

.boneText{
    margin-left: 5px;
    font-size: 17px;
}

.borderC{
    border: 1px solid;
}

.hoverUnderline:hover{
    text-decoration: underline;
    cursor:pointer;
}

.cursorClass:hover{
    cursor:pointer;
}

#root{
    margin-left: 12px;
}